{% if pages > 1 %}
    <nav>
        <ul class="pagination">

            {# Previous #}
            <li class="page-item {{ page <= 1 ? 'disabled' : '' }}">
                <a class="page-link"
                   href="{{ path(route, query|merge({ page: page - 1, limit: limit, status: status, type: type })) }}">
                    Previous
                </a>
            </li>

            {# Pages #}
            {% for p in 1..pages %}
                <li class="page-item {{ p == page ? 'active' : '' }}">
                    <a class="page-link"
                       href="{{ path(route, query|merge({ page: p, limit: limit, status: status, type: type })) }}">
                        {{ p }}
                    </a>
                </li>
            {% endfor %}

            {# Next #}
            <li class="page-item {{ page >= pages ? 'disabled' : '' }}">
                <a class="page-link"
                   href="{{ path(route, query|merge({ page: page + 1, limit: limit , status: status, type: type})) }}">
                    Next
                </a>
            </li>

        </ul>
    </nav>
{% endif %}
